Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
import xgboost as xgb
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor

Reading th data from colab

```
# This is formatted as code
```

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
a=pd.read_csv('/content/IMDb Movies India.csv',encoding='latin-1')
print(a)

                                     Name    Year Duration            Genre  \
0                                             NaN      NaN            Drama
1      #Gadhvi (He thought he was Gandhi)  (2019)  109 min            Drama
2                             #Homecoming  (2021)   90 min   Drama, Musical
3                                 #Yaaram  (2019)  110 min  Comedy, Romance
4                       ...And Once Again  (2010)  105 min            Drama
...                                   ...     ...      ...              ...
15504                 Zulm Ko Jala Doonga  (1988)      NaN           Action
15505                               Zulmi  (1999)  129 min    Action, Drama
15506                           Zulmi Raj  (2005)      NaN           Action
15507                       Zulmi Shikari  (1988)      NaN           Action
15508                        Zulm-O-Sitam  (1998)  130 min    Action, Drama

       Rating Votes            Director           Actor 1             Actor 2  \
0         NaN   NaN       J.S. Randhawa          Manmauji              Birbal
1         7.0     8       Gaurav Bakshi      Rasika Dugal      Vivek Ghamande
2         NaN   NaN  Soumyajit Majumdar      Sayani Gupta   Plabita Borthakur
3         4.4    35          Ovais Khan           Prateik          Ishita Raj
4         NaN   NaN        Amol Palekar      Rajat Kapoor  Rituparna Sengupta
...       ...   ...                 ...               ...                 ...
15504     4.6    11       Mahendra Shah  Naseeruddin Shah       Sumeet Saigal
15505     4.5   655          Kuku Kohli      Akshay Kumar      Twinkle Khanna
15506     NaN   NaN          Kiran Thej   Sangeeta Tiwari                 NaN
15507     NaN   NaN                 NaN               NaN                 NaN
15508     6.2    20        K.C. Bokadia        Dharmendra          Jaya Prada

               Actor 3
0      Rajendra Bhatia
1        Arvind Jangid
2           Roy Angana
3      Siddhant Kapoor
4          Antara Mali
...                ...
15504    Suparna Anand
15505      Aruna Irani
15506              NaN
15507              NaN
15508      Arjun Sarja

[15509 rows x 10 columns]

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [ ]:
a.shape

(15509, 10)

In [ ]:
a.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [ ]:
a = a.drop(columns=['Name', 'Actor 2', 'Actor 3'])
a.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1
0,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji
1,(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal
2,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta
3,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik
4,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor

In [ ]:
a.dropna(inplace=True)

In [ ]:
a.drop_duplicates(inplace=True)
a.shape

(5746, 7)

Handling clomuns

In [ ]:
a['Year'].unique()

array(['(2019)', '(1997)', '(2005)', '(2012)', '(2014)', '(2004)',
       '(2016)', '(1991)', '(2018)', '(2010)', '(1958)', '(2021)',
       '(2017)', '(2009)', '(1993)', '(2002)', '(2008)', '(1994)',
       '(2007)', '(2003)', '(1998)', '(1979)', '(1974)', '(2015)',
       '(2006)', '(1981)', '(2020)', '(1985)', '(2013)', '(2011)',
       '(1988)', '(1987)', '(1996)', '(1999)', '(1973)', '(1968)',
       '(1982)', '(1977)', '(1950)', '(1969)', '(1948)', '(1990)',
       '(1989)', '(2001)', '(2000)', '(1953)', '(1978)', '(1963)',
       '(1992)', '(1976)', '(1984)', '(1986)', '(1966)', '(1975)',
       '(1980)', '(1967)', '(1970)', '(1952)', '(1972)', '(1971)',
       '(1964)', '(1954)', '(1962)', '(1957)', '(1965)', '(1995)',
       '(1956)', '(1955)', '(1936)', '(1983)', '(1951)', '(1961)',
       '(1959)', '(1949)', '(1960)', '(1946)', '(1940)', '(1945)',
       '(1938)', '(1941)', '(1942)', '(1935)', '(1937)', '(1947)',
       '(1931)', '(1933)', '(1943)', '(1944)', '(1932)', '(1939)',
       '(1934)'], dtype=object)

In [ ]:
def handleYear(value):
    value = str(value).strip('()')
    return int(value)
a['Year'] = a['Year'].apply(handleYear)
a['Year'].head(20)

1     2019
3     2019
5     1997
6     2005
8     2012
9     2014
10    2004
11    2016
12    1991
13    2012
15    2018
18    2010
21    1958
22    2021
25    2017
28    2009
30    2005
32    1993
33    2002
34    2014
Name: Year, dtype: int64

In [ ]:
a['Duration'].unique()

array(['109 min', '110 min', '147 min', '142 min', '82 min', '116 min',
       '96 min', '120 min', '161 min', '166 min', '102 min', '87 min',
       '132 min', '105 min', '146 min', '168 min', '158 min', '126 min',
       '94 min', '138 min', '124 min', '144 min', '157 min', '136 min',
       '107 min', '113 min', '80 min', '122 min', '149 min', '148 min',
       '130 min', '121 min', '188 min', '115 min', '103 min', '114 min',
       '170 min', '100 min', '99 min', '140 min', '128 min', '93 min',
       '125 min', '145 min', '75 min', '111 min', '134 min', '104 min',
       '92 min', '137 min', '127 min', '119 min', '135 min', '90 min',
       '150 min', '151 min', '95 min', '52 min', '89 min', '112 min',
       '143 min', '177 min', '117 min', '123 min', '72 min', '154 min',
       '175 min', '153 min', '78 min', '139 min', '133 min', '180 min',
       '46 min', '164 min', '162 min', '171 min', '160 min', '152 min',
       '163 min', '165 min', '141 min', '129 min', '156 min', '240 min',
       '172 min', '88 min', '155 min', '167 min', '106 min', '193 min',
       '108 min', '195 min', '174 min', '81 min', '178 min', '58 min',
       '184 min', '97 min', '176 min', '169 min', '131 min', '77 min',
       '91 min', '86 min', '84 min', '173 min', '74 min', '118 min',
       '181 min', '300 min', '70 min', '101 min', '79 min', '65 min',
       '48 min', '183 min', '159 min', '83 min', '68 min', '201 min',
       '64 min', '186 min', '85 min', '98 min', '49 min', '60 min',
       '207 min', '76 min', '185 min', '59 min', '187 min', '216 min',
       '66 min', '51 min', '71 min', '45 min', '73 min', '57 min',
       '62 min', '191 min', '321 min', '50 min', '199 min', '179 min',
       '47 min', '206 min', '63 min', '211 min', '247 min', '56 min',
       '213 min', '210 min', '190 min', '223 min', '189 min', '224 min',
       '202 min', '69 min', '255 min', '197 min', '182 min', '214 min',
       '208 min', '21 min', '200 min', '192 min', '55 min', '54 min',
       '238 min', '67 min', '61 min', '204 min', '235 min', '217 min',
       '250 min'], dtype=object)

In [ ]:
def handleDuration(value):
    value=str(value).split(' ')
    value=value[0]
    return int(value)
a['Duration']=a['Duration'].apply(handleDuration)
a['Duration'].head(20)

1     109
3     110
5     147
6     142
8      82
9     116
10     96
11    120
12    161
13    166
15    102
18     87
21    132
22    105
25    116
28    146
30    116
32    168
33    158
34    126
Name: Duration, dtype: int64

In [ ]:
a['Genre'].unique()

array(['Drama', 'Comedy, Romance', 'Comedy, Drama, Musical',
       'Drama, Romance, War', 'Horror, Mystery, Thriller',
       'Action, Crime, Thriller', 'Horror', 'Horror, Romance, Thriller',
       'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Mystery',
       'Horror, Thriller', 'Comedy, Horror', 'Drama, Horror, Mystery',
       'Action, Thriller', 'Action', 'Horror, Mystery, Romance',
       'Horror, Mystery', 'Drama, Horror, Romance',
       'Action, Drama, History', 'Action, Drama, War', 'Thriller',
       'Comedy', 'Adventure, Horror, Mystery', 'Action, Sci-Fi',
       'Crime, Mystery, Thriller', 'Drama, History', 'Sport',
       'Biography, Drama, History', 'Horror, Romance', 'Crime, Drama',
       'Adventure, Drama', 'Comedy, Mystery, Thriller', 'Drama, Romance',
       'Crime, Thriller', 'Horror, Sci-Fi, Thriller',
       'Drama, Mystery, Thriller', 'Drama, Family, Musical',
       'Action, Comedy', 'Action, Adventure, Fantasy', 'Documentary',
       'Drama, Horror, Musical', 'Action, Biography, Drama',
       'Action, Fantasy, Mystery', 'Adventure, Drama, Mystery',
       'Mystery, Thriller', 'Comedy, Crime, Drama', 'Musical, Romance',
       'Drama, Thriller', 'Action, Adventure, Comedy', 'Romance',
       'Action, Crime, Drama', 'Musical, Romance, Drama',
       'Action, Sci-Fi, Thriller', 'Action, Drama, Romance',
       'Mystery, Romance', 'Fantasy', 'Drama, Romance, Thriller',
       'Drama, Family', 'Action, Comedy, Drama', 'Action, Drama',
       'Drama, Musical, Romance', 'Action, Romance', 'Action, Crime',
       'Action, Drama, Crime', 'Drama, Family, Music',
       'Action, Drama, Family', 'Drama, History, Romance',
       'Crime, Drama, Music', 'Sci-Fi', 'Comedy, Drama, Family',
       'Crime, Mystery, Romance', 'Action, Comedy, Crime',
       'Crime, Drama, Thriller', 'Comedy, Family, Fantasy',
       'Romance, Drama', 'Drama, Family, Romance',
       'Romance, Drama, Family', 'Musical, Romance, Thriller',
       'Family, Musical, Romance', 'Musical, Drama, Romance',
       'Drama, Music, Musical', 'Drama, Mystery',
       'Adventure, Comedy, Romance', 'Action, Drama, Thriller',
       'Crime, Drama, Horror', 'Drama, Horror, Thriller',
       'Action, Musical, Thriller', 'Romance, Thriller', 'Drama, Music',
       'Drama, Musical', 'Crime, Drama, Musical',
       'Action, Mystery, Thriller', 'Action, Crime, Mystery',
       'Action, Adventure, Thriller', 'Comedy, Romance, Sci-Fi',
       'Action, Drama, Mystery', 'Action, Comedy, Thriller',
       'Biography, Drama', 'Action, Comedy, Fantasy',
       'Drama, Family, Horror', 'Adventure', 'Action, Adventure, Family',
       'Action, Drama, Musical', 'Adventure, Thriller', 'Crime, Mystery',
       'Adventure, Comedy, Drama', 'Drama, Crime',
       'Drama, Fantasy, Romance', 'Musical, Comedy, Drama',
       'Action, Comedy, Romance', 'Drama, History, Musical',
       'Action, Crime, Horror', 'Adventure, Fantasy',
       'Action, Drama, Fantasy', 'Adventure, Drama, Fantasy',
       'Adventure, Fantasy, Romance', 'Action, Adventure, Drama',
       'Action, Adventure', 'Adventure, Drama, Romance', 'Family',
       'Mystery', 'Drama, Fantasy, Thriller', 'Musical, Fantasy',
       'Documentary, Thriller', 'Mystery, Romance, Musical',
       'History, Musical, Romance', 'Musical, Drama, Crime',
       'Musical, Thriller, Mystery', 'Biography, Drama, Romance',
       'Biography', 'History', 'Crime', 'Biography, Drama, Music',
       'Drama, Sci-Fi', 'Comedy, Musical, Romance', 'Drama, Sport',
       'Drama, Family, Comedy', 'Action, Thriller, Romance',
       'Comedy, Romance, Thriller', 'Animation, Adventure',
       'Action, Crime, Musical', 'Action, Crime, Romance',
       'Animation, Action, Adventure', 'Action, Drama, Sport',
       'Documentary, History', 'Comedy, Musical',
       'Biography, Crime, Thriller', 'Adventure, Mystery, Thriller',
       'Biography, Drama, Sport', 'Action, Romance, Thriller',
       'Action, Comedy, Musical', 'Crime, Drama, Romance',
       'Mystery, Romance, Thriller', 'Action, Adventure, Musical',
       'Crime, Musical, Mystery', 'Action, Thriller, Crime',
       'Adventure, Comedy, Crime', 'Comedy, Horror, Musical',
       'Family, Thriller', 'Drama, Action, Crime', 'Drama, War',
       'Comedy, Drama, Thriller', 'Animation', 'Musical, Drama',
       'Action, Drama, Horror', 'Biography, Crime, Drama',
       'Action, Drama, Music', 'Adventure, Drama, Family',
       'Drama, Romance, Musical', 'Musical', 'War',
       'Comedy, Musical, Drama', 'Thriller, Musical, Mystery',
       'Documentary, Adventure, Crime', 'Drama, Action, Horror',
       'Adventure, Crime, Drama', 'Family, Romance',
       'Documentary, Biography, Sport', 'Crime, Fantasy, Mystery',
       'Documentary, Biography, Drama', 'Action, Fantasy, Thriller',
       'Animation, Drama, History', 'Biography, Drama, Musical',
       'Adventure, Drama, History', 'Family, Comedy',
       'Comedy, Drama, Music', 'Comedy, Horror, Mystery',
       'Comedy, Drama, Fantasy', 'Documentary, History, News',
       'Action, Crime, Family', 'Drama, Musical, Mystery',
       'Comedy, Family', 'Action, Thriller, Mystery',
       'Drama, Family, Fantasy', 'Action, Family', 'Comedy, Thriller',
       'Action, Adventure, Mystery', 'Comedy, Action',
       'Animation, Drama, Romance', 'Comedy, Crime, Romance',
       'Comedy, Drama, Sport', 'Documentary, Crime, History',
       'Musical, Mystery, Drama', 'Drama, Family, Thriller',
       'Drama, Musical, Thriller', 'Animation, Action, Comedy',
       'Drama, Fantasy, Sci-Fi', 'Comedy, Crime', 'Drama, Family, Sport',
       'Comedy, Fantasy, Romance', 'Action, Adventure, History',
       'Comedy, Family, Romance', 'Animation, Adventure, Fantasy',
       'Adventure, Comedy, Family', 'Drama, History, War',
       'Action, Musical, Romance', 'Comedy, Romance, Musical',
       'Fantasy, Drama', 'Action, Horror, Thriller',
       'Action, Horror, Sci-Fi', 'Mystery, Sci-Fi, Thriller',
       'Biography, Family', 'Drama, Action, Comedy',
       'Drama, Music, Romance', 'Action, Biography, Crime',
       'Action, Adventure, Crime', 'Adventure, Drama, Musical',
       'Adventure, Drama, Sci-Fi', 'Family, Music, Romance',
       'Fantasy, Mystery, Romance', 'Animation, Family',
       'Action, Adventure, Romance', 'Romance, Comedy, Drama',
       'Animation, Adventure, Comedy', 'Music', 'Crime, Drama, Family',
       'Family, Drama', 'Comedy, Crime, Mystery', 'Comedy, Mystery',
       'Adventure, Drama, Music', 'Biography, Drama, War',
       'Documentary, Comedy, Drama', 'Musical, Drama, Family',
       'Drama, Musical, Family', 'Comedy, Crime, Thriller',
       'Action, History', 'Adventure, Drama, Thriller',
       'Drama, History, Thriller', 'Documentary, Drama', 'Comedy, Sport',
       'Animation, Comedy, Family', 'Drama, Fantasy',
       'Crime, Romance, Thriller', 'Comedy, Musical, Action',
       'Drama, Horror', 'Comedy, Crime, Musical', 'Drama, Family, Action',
       'Biography, History', 'History, Romance', 'Drama, History, Sport',
       'Animation, Comedy, Drama', 'Drama, Comedy, Family',
       'Family, Drama, Thriller', 'Musical, Mystery, Thriller',
       'Music, Romance', 'Musical, Comedy, Romance',
       'Musical, Action, Drama', 'Action, Musical, War',
       'Romance, Comedy', 'Action, Fantasy, Horror',
       'Crime, Drama, History', 'Comedy, Drama, Horror',
       'Crime, Horror, Thriller', 'Comedy, Sci-Fi',
       'Romance, Action, Crime', 'Musical, Thriller',
       'Action, Romance, Comedy', 'Comedy, Family, Musical',
       'Horror, Drama, Mystery', 'Thriller, Mystery, Family',
       'Comedy, Drama, Sci-Fi', 'Documentary, Biography, Crime',
       'Comedy, Fantasy', 'Action, Crime, Sci-Fi',
       'Action, Horror, Mystery', 'Comedy, War',
       'Drama, Fantasy, History', 'Drama, Family, Mystery',
       'Adventure, Romance', 'Romance, Action, Drama',
       'Comedy, Music, Romance', 'Comedy, Family, Sci-Fi',
       'Action, Drama, Western', 'Comedy, Drama, Mystery',
       'Action, Romance, Drama', 'Biography, Comedy, Drama',
       'Action, Mystery, Romance', 'Action, Musical',
       'Drama, Family, History', 'Crime, Musical, Romance',
       'Romance, Thriller, Mystery', 'Drama, Crime, Mystery',
       'Drama, Mystery, Romance', 'Biography, Drama, Family',
       'Action, Family, Mystery', 'Animation, Adventure, Family',
       'Comedy, Mystery, Romance', 'Drama, Thriller, Action',
       'Drama, Romance, Sport', 'Documentary, Western',
       'Musical, Family, Drama', 'Drama, Fantasy, Horror',
       'Action, Adventure, Sci-Fi', 'Drama, Action, Musical',
       'Drama, Musical, Sport', 'Action, Comedy, Horror',
       'Documentary, Music', 'Drama, Fantasy, Musical',
       'Action, Fantasy, Musical', 'Animation, Action', 'Comedy, Music',
       'Action, Fantasy', 'Fantasy, Musical, Mystery',
       'Adventure, Family, Fantasy', 'Drama, Fantasy, War', 'Action, War',
       'Animation, Family, Musical', 'Adventure, Biography, Drama',
       'Drama, Romance, Family', 'Family, Romance, Drama',
       'Documentary, Biography', 'Drama, Adventure, Action',
       'Comedy, Crime, Family', 'Biography, Drama, Thriller',
       'Action, Comedy, Mystery', 'Romance, Sci-Fi, Thriller',
       'Drama, Fantasy, Mystery', 'Thriller, Action',
       'Fantasy, Thriller, Action', 'Fantasy, Romance', 'Action, Mystery',
       'Adventure, Biography, History', 'Fantasy, Horror, Mystery',
       'Crime, Horror, Mystery', 'Action, Adventure, Biography',
       'Action, Family, Drama', 'Thriller, Mystery',
       'Musical, Drama, Comedy', 'Documentary, Family',
       'Action, Fantasy, Sci-Fi', 'Drama, Comedy, Action',
       'Documentary, Sport', 'Documentary, Adventure, Music',
       'Adventure, History, Thriller', 'Adventure, Horror, Romance',
       'Mystery, Musical, Romance', 'Action, Adventure, Horror',
       'Action, Crime, History', 'Sci-Fi, Thriller',
       'Documentary, Family, History', 'Fantasy, Horror',
       'Drama, Mystery, Sci-Fi', 'Animation, Drama, Musical',
       'Action, Crime, Fantasy', 'Comedy, Musical, Mystery',
       'Romance, Musical, Action', 'Crime, Romance',
       'Animation, Family, History', 'Romance, Musical, Comedy',
       'Comedy, Drama, History', 'Action, Thriller, War',
       'Documentary, Drama, News', 'Documentary, Crime, Mystery',
       'Animation, Drama, Adventure', 'Crime, Horror, Romance',
       'Fantasy, Horror, Romance', 'Comedy, Fantasy, Musical',
       'Animation, Action, Drama', 'Crime, Musical, Thriller',
       'Documentary, War', 'Action, Comedy, War', 'Mystery, Sci-Fi',
       'Horror, Romance, Sci-Fi', 'Romance, Musical, Drama',
       'Documentary, Biography, Musical'], dtype=object)

In [ ]:
def split_genre_column(a,Genre):

    a['Genre1'] = a[Genre].str.split(',', expand=True)[0]
    a['Genre2'] = a[Genre].str.split(',', expand=True)[1]
    a['Genre3'] = a[Genre].str.split(',', expand=True)[2]
    return a

split_genre_column(a,'Genre')

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Genre1,Genre2,Genre3
1,2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Drama,None,None
3,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Comedy,Romance,None
5,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Comedy,Drama,Musical
6,2005,142,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Drama,Romance,War
8,2012,82,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Horror,Mystery,Thriller
...,...,...,...,...,...,...,...,...,...,...
15493,2015,115,Drama,6.1,408,Mozez Singh,Vicky Kaushal,Drama,None,None
15494,2001,153,"Biography, Drama, History",6.2,"1,496",Shyam Benegal,Karisma Kapoor,Biography,Drama,History
15503,1989,125,"Action, Crime, Drama",5.8,44,S.P. Muthuraman,Chiranjeevi,Action,Crime,Drama
15505,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Action,Drama,None
15508,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Action,Drama,None

In [ ]:
a.isna().sum()

Year           0
Duration       0
Genre          0
Rating         0
Votes          0
Director       0
Actor 1        0
Genre1         0
Genre2      1717
Genre3      3412
dtype: int64

In [ ]:
a = a.fillna(0)
a.isna().sum()

Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Genre1      0
Genre2      0
Genre3      0
dtype: int64

In [ ]:
I=['Genre1','Genre2','Genre3']
for x in I:
    a[x],_ = pd.factorize(a[x])


if 'Genre' in a.columns:
    a = a.drop(columns=['Genre'])

a.head(3)

,Year,Duration,Rating,Votes,Director,Actor 1,Genre1,Genre2,Genre3
1,2019,109,7.0,8,Gaurav Bakshi,Rasika Dugal,0,0,0
3,2019,110,4.4,35,Ovais Khan,Prateik,1,1,0
5,1997,147,4.7,827,Rahul Rawail,Bobby Deol,1,2,1

In [ ]:
a['Votes'].unique()

array(['8', '35', '827', ..., '70,344', '408', '1,496'], dtype=object)

In [ ]:
def handleVotes(value):
    value = str(value).replace(',','')
    return int(value)
a['Votes'] = a['Votes'].apply(handleVotes)
a['Votes'].head(5)

1       8
3      35
5     827
6    1086
8     326
Name: Votes, dtype: int64

In [ ]:
a['MovieAge'] = 2024 - a['Year']
a['MovieAge']

1         5
3         5
5        27
6        19
8        12
         ..
15493     9
15494    23
15503    35
15505    25
15508    26
Name: MovieAge, Length: 5746, dtype: int64

In [ ]:
DirectorCounts =a['Director'].value_counts()
a['DirectorPopularity']= a['Director'].map(DirectorCounts)
ActorCounts= a['Actor 1'].value_counts()
a['ActorPopularity']=a['Actor 1'].map(ActorCounts)

In [ ]:
a['LogVotes']=np.log1p(a['Votes'])
a['LogVotes']

1        2.197225
3        3.583519
5        6.719013
6        6.991177
8        5.789960
           ...
15493    6.013715
15494    7.311218
15503    3.806662
15505    6.486161
15508    3.044522
Name: LogVotes, Length: 5746, dtype: float64

In [ ]:
DirectorAvgRating = a.groupby('Director')['Rating'].mean()
a['DirectorAvgRating'] = a['Director'].map(DirectorAvgRating)

ActorAvgRating = a[['Actor 1']].stack().reset_index(name='Actor')
ActorAvgRating = ActorAvgRating.merge(a[['Rating']], left_on='level_0', right_index=True)
ActorAvgRating = ActorAvgRating.groupby('Actor')['Rating'].mean()
a['ActorAvgRating'] = a['Actor 1'].map(ActorAvgRating)

In [ ]:
a['Genre1 encoded'] =round(a.groupby('Genre1')['Rating'].transform('mean'),1)
a['Genre2 encoded']=round(a.groupby('Genre2')['Rating'].transform('mean'),1)
a['Genre3 encoded'] =round(a.groupby('Genre3')['Rating'].transform('mean'),1)
a['Votes encoded'] =round(a.groupby('Votes')['Rating'].transform('mean'), 1)
a['Director encoded']= round(a.groupby('Director')['Rating'].transform('mean'), 1)
a['Actor 1 encoded']= round(a.groupby('Actor 1')['Rating'].transform('mean'), 1)
a.head()

,Year,Duration,Rating,Votes,Director,Actor 1,Genre1,Genre2,Genre3,MovieAge,...,ActorPopularity,LogVotes,DirectorAvgRating,ActorAvgRating,Genre1 encoded,Genre2 encoded,Genre3 encoded,Votes encoded,Director encoded,Actor 1 encoded
1,2019,109,7.0,8,Gaurav Bakshi,Rasika Dugal,0,0,0,5,...,2,2.197225,7.000000,6.850000,6.3,6.0,6.0,5.6,7.0,6.8
3,2019,110,4.4,35,Ovais Khan,Prateik,1,1,0,5,...,5,3.583519,4.400000,5.420000,5.8,5.9,6.0,5.7,4.4,5.4
5,1997,147,4.7,827,Rahul Rawail,Bobby Deol,1,2,1,27,...,18,6.719013,5.313333,4.788889,5.8,5.9,6.0,4.8,5.3,4.8
6,2005,142,7.4,1086,Shoojit Sircar,Jimmy Sheirgill,0,1,2,19,...,20,6.991177,7.383333,5.435000,6.3,5.9,6.3,7.4,7.4,5.4
8,2012,82,5.6,326,Allyson Patel,Yash Dave,2,3,3,12,...,1,5.789960,5.600000,5.600000,4.7,5.7,5.7,6.6,5.6,5.6

In [ ]:
a.drop(columns=['Genre1','Votes','Director','Actor 1','Genre2','Genre3'],inplace=True)
a['Rating'] =round(a['Rating'],1)

In [54]:
X=a.drop("Rating",axis=1)
Y=a["Rating"]

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=52)

b=LinearRegression()
b.fit(X_train,Y_train)

X_test_prediction= b.predict(X_test)
print(X_test_prediction)

[5.7890625 4.625     6.234375  ... 6.6171875 6.90625   6.59375  ]

Using Random Foreset

In [55]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1)

RF=RandomForestRegressor(n_estimators=100,random_state=50)
RF.fit(X_train,Y_train)
X_test_prediction_RF=RF.predict(X_test)

mse_RF =mean_squared_error(Y_test,X_test_prediction_RF)
print(f"Mean Squared Error (MSE): {mse_RF:.2f}")

r2_RF = r2_score(Y_test,X_test_prediction_RF)
print(f"R-squared score: {r2_RF:.2f}")

Mean Squared Error (MSE): 0.28
R-squared score: 0.85